header{
    position: relative;
    color: rgb(54, 69, 79);
    background-color: rgb(178, 200, 213);
    height: 200px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-tabs {
    width: 100%;
    background-color: rgb(223, 228, 233);
}

.nav-tabs li {
    float: right;
    right: 100px;
}

.tabButton{
    position: relative;
    font-size: 15px;
    color: rgb(54, 69, 79);
}

.nav-tabs li a {
    padding: 8px 15px;
}
#title{
    position: relative;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}