#header-container{
    position: relative;
    color: rgb(54, 69, 79);
    /* background-color: rgb(178, 200, 213); */
    height: 150px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

#navigation-container {
    position: relative;
    right: 1%;
    display: flex; 
    justify-content: flex-end;
    list-style-type : none;
    margin: 0px;
}

.navigation-button {
    padding: 8px 15px;
    position: relative;
    font-size: 15px;
    color: rgb(54, 69, 79);
}

#title{
    text-align: center;
    position: relative;
    font-size: 70px;
    font-weight: 600;
    margin: 0px;
}