html{
    background-color:rgb(147, 191, 216);
}
#contact{
    position: relative;
    text-align: center;
    height: 70px;
    bottom: 60px;
}
[class^="fa fa-"] {
    position: relative;
    padding-right: 8px;
    color: rgb(54, 69, 79);
    font-size: 50px;
}
#main-image {
    height: 450px;
    width: 525px;
}
.home-content{
    border: white 10px solid;
}
#home-text {
    float: right;
    padding-left: 25px;
    text-align: center;
    text-align: left;
    width: 430px;
}