body{
    background-color: inherit;
}

.page-content{
    position: relative;
    margin: auto;
    width: 900px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: rgb(231, 236, 240);
}