html { background-color: rgb(235, 239, 243); }

/* ensure html background color doesn't show in projects section */
body { margin: 0px; }

.nav-container {
    padding-right: 5em;
    padding-top: 1em;
}

.nav-btn {
    padding-right: .5em;
}

#header-container {
    margin-bottom: 25px;
}

.contact-btn {
    /* relative positioning to jiggle icons */
    position: relative;
    padding-right: 0.1em;
    font-size: 50px;
}

#home-container {
    --highlight-color: #537bf1;
}

.mode {
    width: 20%;
    min-width: 100px;
    border: 2px solid var(--highlight-color);
}

.mode.selected, .mode:hover {
    background-color: var(--highlight-color);
    color: white;
}

.mode.selected {
    pointer-events: none;
}

#about-container {
    vertical-align: top;
    width: 35em;
    max-width: 100%;
    background-color: rgb(235, 239, 243);
    padding: 25px 40px;
    margin: auto;
    box-sizing: border-box;
}

#down_arrow {
    /* relative positioning to bounce arrow */
    position: relative;
}

#projects-container {
    background-color: rgb(235, 239, 243);
    padding-bottom: 50px;
}

.project-container {
    aspect-ratio: 2.25 / 1;
    width: 70em;
    max-width: 100%;
    background-color: white;
    margin : auto;
    margin-top: 2em;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.project-info__outer {
    width: 50%;
    height: 100%;
    padding: 1em;
    float: left;
    position: relative;
    box-sizing: border-box;
}

.project-title {
    font-size: 35px;
    font-weight: 600;
    margin: 0px;
}

.project-image-container {
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.project-image-container img {
    width: 100%;
}

.project-links {
    bottom: 0px;
    position : absolute;
}

.project-links a {
    margin-right: 20px;
}