header{
    position: relative;
    color: white;
    background-color: rgb(125, 119, 230);
    height: 250px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav-tabs {
    width: 100%;
}

.nav-tabs li {
    float: right;
    right: 100px;
}

.tabButton{
    position: relative;
    font-size: 15px;
    color: white;
}
#title{
    position: relative;
    text-align: center;
    top: 60px;
    font-size: 70px;
    font-weight: 700;
}
#contact{
    position: relative;
    top: 50px;
    text-align: center;
}
[class^="fa fa-"] {
    padding-right: 8px;
    color: white;
    font-size: 50px;
}
.tab-content{
    position: relative;
    height: 100%;
}
[class^="tab-pane"] {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    position: relative;
    bottom: 70px;
}
#aboutContent{
    background-color: rgb(125, 119, 230);
}
.tab-container{
    position: relative;
    border: white 10px solid;
    background-color: rgb(231, 236, 240);
    margin: auto;
    width: 900px;
    top: 100px;
}
#yellowstone {
    height: 350px;
    width: 450px;
}
.tab-text {
    margin: auto;
    text-align: center;
    width: 430px;
    font-size: 18px;
}
#home-text {
    float: right;
    text-align: left;
    padding-left: 25px;
}