header{
    position: relative;
    background-color: rgb(23, 23, 212, 0.5);
    color: black;
    height: 250px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav-tabs {
    width: 100%;
}

.nav-tabs li {
    float: right;
    right: 100px;
}

.tabButton{
    position: relative;
    font-size: 15px;
    color: white;
}

#title{
    position: relative;
    text-align: center;
    top: 60px;
    font-size: 70px;
    font-weight: 700;
    color: white;
}
#contact{
    position: relative;
    top: 50px;
    text-align: center;
}
[class^="fa fa-"] {
    padding-right: 8px;
    color: white;
    font-size: 50px;
}
.tab-content{
    position: relative;
    margin: auto;
    width: 900px;
    top: 50px;
}
[class^="tab-pane"] {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.tab-container{
    border: rgb(23, 23, 212, 0.5) 10px solid;
}
#yellowstone {
    height: 40%;
    width: 50%;
}
.tab-text {
    float: right;
    width: 50%;
    padding-left: 25px;
    text-align: left;
    font-size: 18px;
}