@media screen and (max-width: 1024px) {
   .project-container {
        width: 90vw;
        aspect-ratio: unset;
   } 
    
    .project-image-container {
        display: none;
    }

    .project-info__outer {
        width: 100%;
        float: none;
        display: inline-block;
    }

    .project-links {
        position : relative;
    }

    #about-image { 
        width: 100vw;
        max-width: none;
    }

    #about-text__outer {
        width: 100vw;
        max-width: none;
        aspect-ratio: unset;
    }

    #page-content {
        width: 75%;
    }

    #home__nav {
        font-size: 18px;
    }

}