@media screen AND (max-width: 500px) {
    #name, #contact {
        font-size: 30px;
    }

    #contact {
        text-align: right;
    }

    #name {
        text-align: left;
        margin-left: 0.1em;
    }

    #name-container, #contact {
        display: inline-block;
        width: 49%;
    }

    .contact-btn {
        font-size: 30px;
        padding-right: 0em !important;
    }

    #header-container {
        margin: 8px 0px 0px 0px;
    }
}

@media screen and (max-width: 1024px) {
   
    .project-container {
        width: 90vw;
        aspect-ratio: unset;
   } 
    
    .project-image-container {
        display: none;
    }

    .project-info__outer {
        width: 100%;
        float: none;
        display: inline-block;
    }

    .project-links {
        position : relative;
    }

    #about-image { 
        width: 100vw;
        max-width: none;
    }

    #about-text__outer {
        width: 100vw;
        max-width: none;
        aspect-ratio: unset;
    }

    #page-content {
        width: 75%;
    }

    #home__nav {
        font-size: 18px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 25px;
        font-weight: 700;
        margin: 0px;
    }

    p {
        font-size: 16px;
    }

}