html { 
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(54, 69, 79);
    min-width: 500px;
}

h1 {
    font-size: 75px;
    font-weight: 350;
    margin: 0px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}

p { font-size: 20px; }

.text-white { color: white }

.text-theme { color : rgb(54, 69, 79);}

.text-blue { color : rgb(18, 50, 67);}

.text-centered {
    text-align: center;
    position: relative;
}

.inner {
    /* 
        These settings allow for inner div to be 100% height of outer INCLUDING inner's margins 
        reference : https://stackoverflow.com/questions/485827/css-100-height-with-padding-margin
        Reading http://cssdesignpatterns.com/ would be useful to advance my CSS and HTML
    */
    display: block;
    height: auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    /* position: absolute; */
}